@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Fira Code';
	src: url('../../fonts/firacode.ttf') format('truetype');
}
@font-face {
	font-family: 'Parisienne';
	src: url('../../fonts/parisienne.ttf') format('truetype');
}
@font-face {
	font-family: 'BalsamiqSans';
	src: url('../../fonts/balsamiqsans.ttf') format('truetype');
}
@font-face {
	font-family: 'PressStart2P';
	src: url('../../fonts/pressstart2p.ttf') format('truetype');
}

body {
	background: radial-gradient(
		circle at -8.9% 51.2%,
		rgb(255, 124, 0) 0%,
		rgb(255, 124, 0) 15.9%,
		rgb(255, 163, 77) 15.9%,
		rgb(255, 163, 77) 24.4%,
		rgb(19, 30, 37) 24.5%,
		rgb(19, 30, 37) 66%
	);
}
