@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Fira Code';
	src: url('../../fonts/firacode.ttf') format('truetype');
}
@font-face {
	font-family: 'Parisienne';
	src: url('../../fonts/parisienne.ttf') format('truetype');
}
@font-face {
	font-family: 'BalsamiqSans';
	src: url('../../fonts/balsamiqsans.ttf') format('truetype');
}
@font-face {
	font-family: 'PressStart2P';
	src: url('../../fonts/pressstart2p.ttf') format('truetype');
}

body {
	background: radial-gradient(
		circle at -8.9% 51.2%,
		rgb(255, 124, 0) 0%,
		rgb(255, 124, 0) 15.9%,
		rgb(255, 163, 77) 15.9%,
		rgb(255, 163, 77) 24.4%,
		rgb(19, 30, 37) 24.5%,
		rgb(19, 30, 37) 66%
	);
}

@media screen and (max-width: 800px) {
	.left,
	.main,
	.right {
		width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
	}
	h1,
	h2 {
		font-size: 14px;
	}
	h3 {
		font-size: 10px;
	}
	p {
		font-size: 10px;
	}
	span {
		font-size: 12px;
	}
}
